
body {
    margin: 8px;
}

#nav {
    position: absolute;
    width: 180px;
    background-color: #D3D3D3;
    color: white;
    left: 1em;
    text-align: left;
    font-size: 10pt;
}

#nav > ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#nav > ul > li {
    padding-left: 8px;
}

.highlight:hover{
    background-color: #B3B3B3;
}

.content {
    position: relative;
    font-size: 1em;
    margin-top: 0px;
    margin-right: 25em;
    left: 210px;
    top: 0px;
    min-width: 45em;
    min-height: 45em;
}

/* Top of page colored banner */
.banner {
    background-color: #DBDE84;
    font-family: sans-serif;
}

/* MapStrat header */
.banner > h1 {
    font-size: 46pt;
    padding-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: sans-serif;
}

/* Slogan */
.banner > p {
    font-style: italic;
    font-size: 14pt;
    margin-top: 0px;
    padding-left: 8px;
    font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #305C35;
}

.bubble {
    border-radius: 8px;
    padding: 4px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

#demoVideo {
    width: 100%;
}

#demoVideo > video {
    display: inline-block;
    margin: 0 auto;
}

